
.navbar {
    box-shadow: 0px 0px 20px 1px rgb(29, 29, 29);
}
.navbar-brand {
    font-size: 3rem;
    margin-left: 4rem;
}

#main {
    background-color: #2a2a2a;
    box-shadow: 0px 0px 20px 1px rgb(29, 29, 29);
    margin-top: 1rem;
}
#port-main-text {
    text-align: center;
}
/* .column {
    border: 2px solid green;
} */
#heading {
    margin: 2rem;
}
#profile-picture {
    height: 300px;
    width: 300px;
    padding: 2rem;
    border-radius: 2.2rem;
}
.imglink {
    height: auto;
    width: 75%;
    border-radius: .5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
hr {
    border-color: #9b9b9b
}
.footer {
    text-align: center;
}